/*? orange color: #f39c12*/



/*! --------------------------------------------------------------------*/
/* * BASIC SETUP   */
/*! --------------------------------------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F7F9F9;
    font-family: 'Lato', 'Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}  

.clearfix {zoom:1}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}


/*! --------------------------------------------------------------------*/
/* * REUSABLE COMPONENT   */
/*! --------------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

.box {
    padding: 1%;
}


/* * HEADINGS   */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    margin-bottom: 40px;
    color: white;
    font-size: 340%;
    word-spacing: 10px;
}

h2 {
    float:left;
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #f39c12;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    text-align: justify;
    text-transform: none;
    font-size: 80%;
    margin-bottom: 15px;
    line-height: 155%;

}


/** PARAGRAPHS   */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/** ICONS   */
.icon-big {
    font-size: 350%;
    display: block;
    color: #f39c12;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    color: #f39c12;
    margin-right: 10px;
    /*! secret to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
}


/** LINKS   */
a:link,
a:visited {
    color: #f39c12;
    text-decoration: none;
    padding-bottom: 1px;

}

a:hover,
a:active {
    border-bottom: 1px solid #f39c12;
    transition: border bottom 0.2s color 0.2s
}



/** BUTTONS   */

.btn:link, /*? how button looked in normal state*/
.btn:visited, /*? how button looked in visited state*/
input[type=submit] {             
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300% ;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited, 
input[type=submit] {
    background-color: #f39c12;
    border: 1px solid #f39c12;
    color: white;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f39c12; 
    color: #f39c12;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #d8890b;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    background-color: #d8890b;
    border: 1px solid #d8890b;
    color: white;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #d8890b;
    color: white;
}


/*! --------------------------------------------------------------------*/
/* * HEADER   */
/*! --------------------------------------------------------------------*/


header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg); */
    background-size: cover;
    background-position: center;
    height: 100vh; /*?100 view height*/
    background-attachment: fixed;

}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*? translate half to the left and top */
    color:white;
    text-align: center;
}

.hero-text-box h3{
    text-align: center;
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
    padding: 5px;
}

.logo-black {
    display: none;
    height: 40px;
    width: auto;
    float: left;
    margin: 10px 0;
}


/* * main nav   */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;  
}

.main-nav li a:link,
.main-nav li a:visited  {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active  {
    border-bottom: 2px solid #f39c12;
}

.mobile-nav-icon2 { color: red;}

/* * mobile navi   */
.mobile-nav-icon {
    float:right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

ion-icon[name=menu-outline],
ion-icon[name=close-outline] {
    font-size: 200%;
    color: white;
}


/* * sticky nav   */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(13, 41, 51, 1);
    box-shadow: 0 2px 2px rgb(218, 218, 218);
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited  {
    padding: 16px 0;
    color: white;

}

.sticky .logo { display: block; padding: 10px;}
.sticky .logo-black { display: none;}




/*! --------------------------------------------------------------------*/
/* * FEATURES   */
/*! --------------------------------------------------------------------*/
.section-features {
    margin-bottom: 40px;
}



/*! --------------------------------------------------------------------*/
/* * MEALS   */
/*! --------------------------------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/*! --------------------------------------------------------------------*/
/* * Where i've work  */
/*! --------------------------------------------------------------------*/

.section-steps {
    padding: 80px;
    position: relative;
    background-image: linear-gradient(rgba(10, 30, 37, 0.83), rgba(10, 30, 37, 0.83)), url(img/journey.jpg);
    background-size: cover;
    color:#fff;
    background-attachment: fixed;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #f39c12;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 45px 10px 0;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    right: -25px;
    background-color: rgba(14, 29, 44, 1);
    background-image: url(img/portfolio.png);
    background-size: 100%;
    top: 35px;
    border-radius: 50%;
    z-index: 1;
}

.container-2 {
    padding: 10px 45px 10px 0;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    right: -25px;
    background-color: rgba(14, 29, 44, 1);
    background-image: url(img/graduation-hat.png);
    background-size: 100%;
    top: 35px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

.left:last-child {
    left: 0;
    padding-bottom: 80px;

}

/* Place the container to the right */
.right {
    left: 50%;
    padding: 20px 0px 20px 45px;

}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 50px;
    width: 0;
    z-index: 1;
    right: 35px;
    border: medium solid rgba(13, 41, 51, 1);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(13, 41, 51, 1);
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 50px;
    width: 0;
    z-index: 1;
    left: 35px;
    border: medium solid rgba(13, 41, 51, 1);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(13, 41, 51, 1) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -26px;
}

/* The actual content */
.content {
    top: 20px;
    padding: 20px 30px;
    background-color: rgba(13, 41, 51, 0.63);
    position: relative;
    border-radius: 6px;
}

.content h3 {
    font-size: 100%;
    font-weight: 500;
    margin-bottom: 0;

}

.content h4 {
    margin-bottom: 25px;
    font-size: 90%;
    font-weight: 400;
    font-size: 90%;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);

}

.content ul{
    list-style: none;
}

.content ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 90%;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.63);
}

.content ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #f39c12;
}

.content ion-icon {
    float:left;
}



.vertical-line{
    border-left: 2px solid #f39c12;
    margin-left: 50%;
}

.step-row {
    margin-bottom: 35px;
}

/* .vertical-line div  {
    color: #f39c12;
    border: 2px solid #f39c12;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
} */


/* .works-step:before {
    content: '';
    position: absolute;
    top: 40%;
    left: 10%;
    height: 80%;
    width: 2px;
    background: #f39c12;
}

.works-step {
    margin-left: 5%;
    margin-bottom: 30px;
}

.works-step div{
    color: #f39c12;
    border: 2px solid #f39c12;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left;

} */



.step-row div ion-icon {
    margin-top: 8%;

}

.btn-app:link,
.btn-app:visited {
    border: 0;
}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*! --------------------------------------------------------------------*/
/* * what have i done   */
/*! --------------------------------------------------------------------*/

.section-cities {
    margin-bottom: 40px;
}

.img-project {
    width: 100%;
}

/*?? display on right*/
.project-content-right {
    margin: 1% 0 1% 0;
}

.project-content-right h4 {
    margin: 45px 0 5px 0;
    font-size: 80%;
    font-weight: 400;
    line-height: 145%;
    text-align: end;
    color: #f39c12;
}

.project-content-right h3 {
    margin-bottom: 25px;
    font-size: 120%;
    font-weight: 400;
    line-height: 145%;
    text-align: end;
}

.project-content-right p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 145%;
    font-size: 80%;
    text-align: end;
    border: 2px solid rgba(0, 0, 0, 0 );
    padding: 20px;
    box-shadow: 5px 2px 8px 2px #0a1e25;
    background-color: #0a1e25;
    margin: 0;
}

.project-content-right ul{
    margin-top: 25px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 80%;
    font-weight: 400;
    line-height: 145%;
    text-align: end;
    color: rgba(255, 255, 255, 0.8);
}

.project-content-right li{
    margin: 25px 0 5px 20px;
    display: inline;
}

.project-links-right {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-right: 0px;
}

.project-content-right a:link,
.project-content-right a:visited{
    text-decoration: none;
    border: 0;

}

.project-links-right ion-icon{
    justify-content: flex-end;
    font-size: 150%;
    margin-bottom: 10px;
    color: white;
}

/*?? display on left*/
.project-content-left {
    margin: 1% 0 1% 0;
}

.project-content-left h4 {
    margin: 45px 0 5px 0;
    font-size: 80%;
    font-weight: 400;
    line-height: 145%;
    color: #f39c12;
}

.project-content-left h3 {
    margin-bottom: 25px;
    font-size: 120%;
    font-weight: 400;
    line-height: 145%;
}

.project-content-left p {
    border: 2px solid rgba(0, 0, 0, 0 );
    color: rgba(255, 255, 255, 0.8);
    line-height: 145%;
    font-size: 80%;
    padding: 20px;
    box-shadow: 5px 2px 8px 2px #0a1e25;
    background-color: #0a1e25;
    margin: 0;
}

.project-content-left ul{
    margin-top: 25px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 80%;
    font-weight: 400;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
}

.project-content-left li{
    margin: 25px 20px 5px 0px;
    display: inline;
}

.project-links-left {
    display: flex;
    margin-left: 10px;
    margin-right: 0px;
}

.project-content-left a:link,
.project-content-left a:visited{
    text-decoration: none;
    border: 0;

}

.project-links-left ion-icon{
    font-size: 150%;
    margin-bottom: 10px;
    color: white;
}

/* .project-content h5 {
    margin: 15px 0 5px 0;
    font-size: 80%;
    font-weight: 400;
    line-height: 145%;
    text-align: end;
    color: rgba(255, 255, 255, 0.8);
} */



/*! --------------------------------------------------------------------*/
/* * TESTIMONIALS   */
/*! --------------------------------------------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url(img/back-customers.jpg);
    background-size: cover;
    color:#fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C"; /*write the font wih css*/
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 0;
    display: block;
}

cite img {
    width: auto !important;
    height: 255px !important;
    border-radius: 3%;
    margin-left: 20px;
    vertical-align: middle;
}

/*! --------------------------------------------------------------------*/
/* * SIGN UP   */
/*! --------------------------------------------------------------------*/

.section-plans {
    background-image: linear-gradient(rgba(10, 30, 37, 0.83));
    margin-bottom: 40px;
}

.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px rgb(233, 233, 233);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgb(235, 233, 233);
}

.plan-box div:first-child {
    background-color: rgb(255, 251, 251);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10%;
    font-weight: 100;
    color: #f39c12;
}

.plan-price span {
    font-size: 30%; /*100% from .plan-price because it is parent*/
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%; /*100% from .plan-price because it is parent*/
}

.plan-box ul {
    list-style: none;
}

.plan-price-meal {
    font-size: 80%;
}

.learn-tech ul {
    list-style: none;
    font-size: 70%;
    line-height: 150%;
}

.learn-tech ul li{
    margin-bottom: 5px;
}



/*! --------------------------------------------------------------------*/
/* * FORM   */
/*! --------------------------------------------------------------------*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding:7px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type="checkbox"] {
    margin: 10px 5px 10px 0;
}

*:focus { outline: none;}


/*! --------------------------------------------------------------------*/
/* * FOOTER   */
/*! --------------------------------------------------------------------*/

footer {
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block; 
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: whitesmoke;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.logo-facebook,
.logo-twitter,
.logo-email,
.logo-linkedin,
.logo-instagram,
.logo-github {
    transition: color 0.2s;
}

.logo-facebook:hover {
    color: #3b5998;
}
.logo-email:hover {
    color: #c71610;
}

.logo-twitter:hover {
    color: #55acee;
}


.logo-linkedin:hover {
    color: #0e76a8;
}

.logo-instagram:hover {
    color: #e95950;
}

.logo-github:hover {
    color: #333;
}


footer p {
    color: rgba(255, 255, 255, 0.8);

    font-size: 100%;
    margin-top: 0px;
}


/*! --------------------------------------------------------------------*/
/* * Animations   */
/*! --------------------------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
} 

.js--wp-4 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-1.animate__animated,
.js--wp-2.animate__animated,
.js--wp-3.animate__animated {
    opacity: 1;
}

